@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.containerSidebar {
  @apply flex gap-3 flex-col p-4 rounded-xl cursor-pointer border border-Neutral/10;
  transition: all 1s ease-in-out;
}

.activeSidebar {
  @apply border border-Primary-blue bg-Primary-surface;
}

.textSidebar {
  @apply text-base font-semibold;
  transition: all 0.2s ease-in-out;
}

.fadeIn {
  animation: fadeIn alternate 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cardDashboard {
  @apply p-5 bg-Neutral/10 rounded-xl;
}

.tableHead {
  @apply text-start text-xs py-3 px-8;
}

.tableContent {
  @apply border-b text-sm text-start px-8 py-3;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

/* Mengubah tampilan track scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Mengubah tampilan thumb scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
  height: 10px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rounded-thead th:first-child {
  border-top-left-radius: 1rem;
}

.rounded-thead th:last-child {
  border-top-right-radius: 1rem;
}

.iconKaryawan {
  @apply p-3 rounded-full border border-Neutral/40 cursor-pointer;
}

.iconKaryawan:active {
  opacity: 0.6;
}

.textInputKaryawan {
  @apply text-base font-semibold text-Neutral/100;
}

.inputKaryawan {
  @apply outline-none px-6 py-4 bg-Neutral/20 rounded-xl;
}

.addButton {
  @apply px-7 py-3 text-white bg-Primary-blue rounded-full cursor-pointer active:opacity-80;
}

.modal {
  animation: scaleIn 0.3s ease-in-out;
}

.inputRadio {
  @apply flex gap-2 px-6 py-4 bg-Neutral/20 rounded-xl w-full items-center cursor-pointer;
}

.inputRadioLapor {
  @apply flex gap-2 items-center px-6 py-4 bg-Neutral/20 rounded-full border border-Neutral/20;
}

input[type="radio"] {
  @apply w-4 cursor-pointer;
}

input[type="radio"] {
  transform: scale(1.2);
}

label.inputRadioLapor.checked {
  border: 1px solid #5e51d9;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-clip: content-box;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
}

input[type="radio"]:checked {
  width: 20px;
  height: 20px;
  background-color: #5e51d9;
  border: 5px solid rgba(94, 81, 217, 0.08);
}

.statusProses {
  @apply flex py-2 px-3 w-fit gap-3 rounded-full bg-Neutral/20;
}

.buttonReq {
  @apply py-3 px-6 border rounded-full active:opacity-60;
}

.activeReject {
  @apply text-[#FF0000] border-[#FF0000] cursor-pointer;
}

.notActiveReject {
  @apply opacity-25 border border-Neutral/50 pointer-events-none;
}

.activeAcc {
  @apply text-white border-Primary-blue bg-Primary-blue;
}

.notActiveAcc {
  @apply text-white bg-Neutral/50  pointer-events-none;
}

.notActive {
  @apply pointer-events-none opacity-60;
}
